.BlogThumb__container {
  width: 200px;
  height: 200px;
  background-color: #777;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 6px #111, -1px -1px 6px #111;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.BlogThumb__container:hover {
  grid-template-rows: 1fr 3fr;
}