.Blog__img {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100vw;
  color: white;
  text-shadow: 1px 1px 6px #111, -1px -1px 6px #111;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 25px;
}

.Blog__container {
  padding: 25px 10%;
}