* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: calc(100vh - 80px);
  padding-top: 25px;
}

.input-group {
  display: grid;
  width: 100%;
  justify-self: left;
  grid-template-columns: 90px 1fr;
}

.input-group label {
  margin-right: 15px;
  font-weight: bold;
  align-self: center;
}

.text-input {
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
}

.text-input label {
  justify-self: left;
}

.text-input textarea {
  width:100%;
  height:100%;
  align-self: center;
  justify-self: center;
  resize: none;
  font-family: Helvetica, Arial, sans-serif;
}

.buttons {
  max-width: 250px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(22, 90, 175);
  color: white;
  border: none;
  border-radius: 1px;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
  min-width: 65px;
}

button:active{
  background-color: rgb(14, 57, 110);
}

.cancel-button {
  background-color: #555
}

.cancel-button:active {
  background-color: #333
}

a {
  text-decoration: none;
  color: inherit;
}

.app-header {
  background-color: rgb(22, 120, 200);
  width: 100%;
  height: 80px;
  color: white;
  box-shadow: 1px 0px 6px 0px #222;
  display: grid;
  grid-template-columns: 180px 2fr 2fr 2fr 8fr;
  align-items: center;
  justify-items: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 5px;
}

.logo {
  width: 130px;
}

.nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  background-color: rgb(22, 90, 175);
}

.hero-container{
  width: 900px;
  height: 400px;
  color: white;
  text-shadow: 1px 1px 6px #111, -1px -1px 6px #111;
  display: grid;
  grid-template-rows: 1fr 80px 50px;
  justify-items: center;
  align-items: center;
  background-size: cover;
  padding: 15px;
}

.hero-container h1 {
  grid-row: 2/3;
}

.hero-container h3 {
  grid-row: 3/4;
}

.thumb-container {
  width: 200px;
  height: 200px;
  background-color: #777;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 6px #111, -1px -1px 6px #111;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.thumb-container:hover {
  grid-template-rows: 1fr 3fr;
}

.search-view {
  grid-template-rows: 41px 1fr;
}

.search-group {
  font-weight: bold;
  width: 60%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100px 1fr 55px 60px;
  align-items: center;
}
.search-type{
  display: grid;
  grid-gap: 5px;
}
.search-type span{
  display: flex;
}
.search-type input{
  margin-right: 5px;
}


.blog-grid{
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.blog-list{
  padding: 25px 0;
  width: 80%;
  display: grid;
  grid-gap: 25px;
}


.blog-tile{
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 4fr;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px rgba(5,5,5,0.1);
}
.blog-tile img{
  grid-row: 1 / 4;
  align-self: center;
  justify-self: center;
  height: 300px;
  width: 400px;
}
.blog-tile h3, h4, p{
  margin-right: 25px;
}
.blog-tile h3{
  margin-top: 15px;
}
.blog-tile:hover{
  box-shadow: 3px 3px 1px 1px rgba(5,5,5,0.2);
}


.UserTile{
  box-shadow: 2px 2px 1px 1px rgba(5,5,5,0.1);
  padding: 15px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.UserTile img{
  height: 200px;
  width: 200px;
  grid-row: 1 / 3;
}

.UserTile:hover{
  box-shadow: 3px 3px 1px 1px rgba(5,5,5,0.2);
}


.add-blog{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 30px) 1fr 50px;
  grid-gap: 15px;
}


.new-user{
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, '1fr');
  height: fit-content;
  grid-gap: 35px;
}
.new-user input{
  max-height: 25px;
}
.in-group{
  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;
  grid-gap: 10px;
}
.in-group label{
  justify-self: right;
}
.in-group textarea{
  min-height: 100px;
  min-width: 100%;
  resize: none;
}


.new-user button{
  max-height: 50px;
  align-self: center;
}

.pic-input{
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px 40px;
}

.pic-input img{
  height: 100%;
  width: 100%;
}
.pic-input span{
  align-self: center;
}

.pic-placeholder{
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px;
  width: 100%;
  margin-top: -25px;
  box-shadow: 2px 2px 1px 1px rgba(5,5,5,0.1);  
}
.profile img{
  max-width: 500px;
  max-height: 500px;
}
.profile h1{
  margin: 25px 0;
}
.profile button{
  margin-top: 25px;
}
.post-list{
  margin-top: 25px;
  width: 75%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.post-list h2{
  margin-bottom: 25px;
}
.post-list p{
  margin-bottom: 25px;
}

.app-footer{
  width: 100%;
  height: 55px;
  background-color: #222;
  color: #191919;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.app-footer:hover{
  color: white;
}
.gh:hover{
  color: red;
}
#copy-right{
  color: white;
}